.header {
    /* border: 2px solid #000000; */
    width: 100%;
    height: 100px;
    display: flex;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 0px;
}

.navbar .logo {
    width: 157.85px;
    height: 65px;
}

.navbar span {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.navbar span:hover {
    border-bottom: 2px solid #FF5733;
}

.navbar span a {
    text-decoration: none;
    color: #382923;
    font-size: 1rem;
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}

section.hero {
    width: 100%;
    margin-top: 20px;
    background-color: #D6CDC8;
}

section.hero .hero-content {
    display: flex;
    width: 100%;
    height: 400px;
}

.hero-content .image {
    width: 50%;
}

.hero-content .image img {
    width: 400px;
    object-fit: cover;
}

.hero-content .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 50%;
}

.logos {
    width: 100%;
    height: 300px;
}

.logo-content .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}