.header {
    /* border: 2px solid #000000; */
    width: 100%;
    height: 100px;
    display: flex;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 0px;
}

.navbar .logo {
    width: 157.85px;
    height: 65px;
}

.navbar span {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.navbar span:hover {
    border-bottom: 2px solid #FF5733;
}

.navbar span a {
    text-decoration: none;
    color: #382923;
    font-size: 1rem;
    font-weight: bold;
}

.spacer {
    flex-grow: 1;
}

section.hero {
    width: 100%;
    margin-top: 20px;
    background-color: #D6CDC8;
}

section.hero .hero-content {
    display: flex;
    width: 100%;
    height: 580px;
}

.hero-content .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content .image img {
    width: 400px;
    object-fit: cover;
}

.hero-content .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.hero-content .content h1 {
    font-size: 2.5rem;
    color: #382923;
    font-family: 'Arial', sans-serif;
}

.hero-content .content p {
    font-size: 1.2rem;
    color: #382923;
    font-family: 'Arial', sans-serif;
}

.logos {
    width: 100%;
}

.logos .logo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    gap: 80px;
}

.logo-content .images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.btn-pill {
    background-color: #382923;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 12px 50px;
    text-transform: uppercase;
}

.btn--brown {
    background-color: #382923;
}

.btn--brown:hover {
    background-color: #943519;
    color: #FFFFFF;
}

.btn--cream {
    background-color: #B2B098;
    color: #FFFFFF;
}

.btn--cream:hover {
    background-color: #B2B098;
}

.red-text {
    color: #ff2f00;
    text-align: center;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -40px;
}